<!-- Hero Section-->
<section class="bg-light mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <h1 class="mt-5">MENTOR ON DEMAND</h1>
        <p class="lead"> Improve your knowledge with the help of professional trainers </p>
        <p> Login and have fun with learning.......... </p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2"><img
          src="https://3.bp.blogspot.com/-_7vaKiNZPXk/XCWoF-0xj7I/AAAAAAAAAMk/Bx7Ne5WLEvINHPDoG1jwY6rGO2d62pprwCKgBGAs/s1600/ux-design.jpeg"
          class="img-fluid"></div>
    </div>
  </div>
</section>
<!-- Services-->
<div class="container">
  <h2>Services</h2>
  <p class="text-muted mb-5">There are many number of services that are provided here .... !!! Some of them include...
  </p>
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-3">
      <i class="material-icons"> person </i>
      <h6>Professional mentors</h6>
      <p class="text-muted">Mentors here are highly professional and also helpful.</p>
    </div>
    <div class="col-sm-6 col-lg-4 mb-3">
      <i class="material-icons"> alarm </i>

      <h6>Convinient time slot</h6>
      <p class="text-muted">You can book your desired time slot based on your convinience.</p>
    </div>
    <div class="col-sm-6 col-lg-4 mb-3">
      <i class="material-icons"> stars </i>

      <h6>Ratings </h6>
      <p class="text-muted">You can choose your mentors based on their ratings provided by the people already attented
        the trainings.</p>
    </div>
  </div>
</div>